@tailwind base;
@tailwind components;

@font-face {
	font-family: 'circularMedium';
	src: url(./fonts/circular/circular-medium.ttf);
}

@font-face {
	font-family: 'circularBook';
	src: url(./fonts/circular/circular-book.otf);
}

@font-face {
	font-family: 'circularBold';
	src: url(./fonts/circular/circular-bold.otf);
}

@font-face {
	font-family: 'circularLight';
	src: url(./fonts/circular/circular-light.ttf);
}

@tailwind utilities;
